body {
  background-color: rgb(145, 160, 145);
  font-family: "Baskerville", Georgia, "Times New Roman", Times, serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: antiquewhite;
}
